<style>
    form{
        margin-left:auto;
        margin-right:auto;
    }
</style>

<div ng-init="getById()"
ba-panel
ba-panel-title="Sửa khách hàng"
ba-panel-class="with-scroll">
{{model}}
{{$state.current.name}}
    <form class="col-md-6 ">

        <div class="form-group">
        <label for="Id">Họ tên</label>
        <input type="text" ng-model="model.TenKhachHang" class="form-control" id="TenKhachHang" placeholder="Họ tên">
        </div>

        <div class="form-group">
        <label for="SoDienThoai">Số điện thoại</label>
        <input type="text" ng-model="model.SoDienThoai" class="form-control" id="SoDienThoai" placeholder="Số điện thoại">
        </div>

        <div class="form-group">
            <label for="Email">Email</label>
            <input type="text" ng-model="model.Email" class="form-control" id="Email" placeholder="Email">
        </div>

        <div class="form-group">
            <label for="DiaChi">Địa chỉ</label>
            <input type="text" ng-model="model.DiaChi" class="form-control" id="DiaChi" placeholder="Địa chỉ">
        </div>
        <button progress-button="progressFunction()" ng-click="editKhachHang(model)" pb-style="lateral-lines" class="btn btn-info">Xác nhận </button>
    </form>



</div>