<style>
    form {
        margin-left: auto;
        margin-right: auto;
    }
</style>

<div ba-panel ba-panel-title="Thêm mới User" ba-panel-class="with-scroll">
    <!-- {{model}}
{{$state.current.name}} -->
    <div class="col-md-3"></div>
    <form class="col-md-6 ">

        <div class="form-group">
            <label for="Id">Họ tên</label>
            <input type="text" ng-model="model.TenKhachHang" class="form-control" id="TenKhachHang" placeholder="Họ tên">
        </div>

        <div class="form-group">
            <label for="SoDienThoai">Số điện thoại</label>
            <input type="text" ng-model="model.SoDienThoai" class="form-control" id="SoDienThoai" placeholder="Số điện thoại">
        </div>

        <div class="form-group">
            <label for="Email">Email</label>
            <input type="email" ng-model="model.Email" class="form-control" id="Email" placeholder="Email">
        </div>

        <div class="form-group">
            <label for="CongTy">Nơi làm việc</label>
            <input type="text" ng-model="model.CongTy" class="form-control" id="CongTy" placeholder="Nơi làm việc">
        </div>

        <div class="form-group">
            <label for="MaLoaiKH">Mã loại khách hàng</label>
            <input type="number" ng-model="model.MaLoaiKH" class="form-control" id="MaLoaiKH" placeholder="Loại khách hàng">
        </div>

        <div class="form-group">
            <label for="DiaChi">Địa chỉ</label>
            <input type="text" ng-model="model.DiaChi" class="form-control" id="DiaChi" placeholder="Địa chỉ">
        </div>

        <div class="form-group">
            <label for="TenTaiKhoan">Tài khoản</label>
            <input type="text" ng-model="model.TenTaiKhoan" class="form-control" id="TenTaiKhoan" placeholder="Tài khoản">
        </div>
    </form>
    <div class="col-md-3"></div>
    <div class="col-md-12 text-center">
        <button progress-button="progressFunction()" ng-click="addKhachHang(model)" pb-style="lateral-lines" class="btn btn-info">Xác nhận </button>
    </div>

</div>