<a class="btn btn-info" [routerLink]="['/donhang-them']">Thêm đơn hàng mới</a>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Người gửi</th>
      <th>Địa chỉ gửi</th>
      <th>Số điện thoại gửi</th>
      <th>Người nhận</th>
      <th>Đại chỉ nhận</th>
      <th>Số điện thoại nhận</th>
      <th>Ghi chú</th>
      <th>Thành tiền</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of listDonHang; let i = index">
      <td>{{item.NguoiGui}}</td>
      <td>{{item.DiaChiGui}}</td>
      <td>{{item.SoDienThoaiNguoiGui}}</td>
      <td>{{item.NguoiNhan}}</td>
      <td>{{item.DiaChiNhan}}</td>
      <td>{{item.SoDienThoaiNguoiNhan}}</td>
      <td>{{item.GhiChu}}</td>
      <td>{{item.ThanhTien}}</td>
    </tr>
  </tbody>
</table>