.donhang-page{
    a:hover { 
        background-color: ghostwhite;
        color: black;
    }
    .active{
        background-color: ghostwhite;
        a{
            background-color: ghostwhite;
            color: red;
        }
    }
}