<style>
    td {
      max-width: 60px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
  }
  </style>
  <div class="row" ng-init="init()">
          <div class="col-md-12">
            <div ba-panel ba-panel-title="" ba-panel-class="with-scroll">
                <div class="form-inline">
                    <div class="form-group">
                      <input type="text" ng-model="filter.kyhieu" class="form-control" placeholder="Ký hiệu...">
                    </div>         
                    <button type="" ng-click="search()" class="btn btn-primary mb-2">Tìm kiếm</button>
                    <div class="add-button">
                      <button class="btn btn-primary" ng-click="gotoAddDonHang()">Thêm mới</button>
                    </div>
                  </div>
                  <!-- <div class="add-row-editable-table">
                          <button class="btn btn-primary" ng-click="gotoAddNo()">Thêm mới</button>
                        </div> -->
                        <table class="table table-bordered table-hover table-condensed">
                          <tr>                         
                            <td>Ký hiệu</td>
                            <td>Mô tả</td>   
                            <td>Số tiền</td>                        
                            <td>Khách hàng</td>
                            <td>Thời gian</td>
                            <td>Trạng thái</td>                         
                            <td>Thao tác</td>
                          </tr>
                          <tr ng-repeat="no in listNo" class="editable-row">
                         
                            <td>
                                <span editable-text="no.KyHieu" e-name="KyHieu" e-form="rowform" e-required>
                                  {{ no.KyHieu || 'empty' }}
                                </span>
                            </td>
                            <td>
                              <span editable-text="no.MoTa" e-name="MoTa" e-form="rowform" e-required>
                                {{ no.MoTa || 'empty' }}
                              </span>
                            </td>
                            <td>
                                <span editable-text="no.SoTien" e-name="SoTien" e-form="rowform" e-required>
                                  {{ no.SoTien || 'empty' }}
                                </span>
                              </td>
                              <td>
                                <span editable-text="no.KhachHang" e-name="KhachHang" e-form="rowform" e-required>
                                  {{ no.KhachHang || 'empty' }}
                                </span>
                              </td>
                              <td>
                                <span editable-text="no.ThoiGian" e-name="ThoiGian" e-form="rowform" e-required>
                                  {{ no.ThoiGian || 'empty' }}
                                </span>
                              </td>
                              <td>
                                <span editable-text="no.TrangThai" e-name="TrangThai" e-form="rowform" e-required>
                                  {{ no.TrangThai || 'empty' }}
                                </span>
                              </td>                                            
                              
                            <td>
                              <div class="buttons" ng-show="!rowform.$visible">
                                <a class="btn btn-primary editable-table-button btn-xs" ng-click="" href="#/no/edit/{{no.Ma}}">Edit</a >
                                <button class="btn btn-danger editable-table-button btn-xs" ng-click="deleteNo(no.Ma)">Delete</button>
                                
                              </div> 
                            </td>
                          </tr>
                        </table>
                        
  
            </div>
          </div>
        </div>