<div class="row">
  <div ba-panel ba-panel-title="" ng-init="details_don_hang()" ba-panel-class="with-scroll">
    <div class="panel-group">
      <div class="panel panel-default bootstrap-panel">
        <div class="panel-heading">
          <span>Mã đơn hàng:
            <code>{{donhang.MaDonHang|| 'empty'}}</code>
          </span>
          <span>Thời điểm đặt hàng: {{donhang.ThoiDiemDatDonHang|| 'empty'}}</span>
          <span>Tình trạng: <span style="background-color: lightgrey; padding: 5px;">{{donhang.TinhTrang|| 'empty'}}</span></span>
        </div>
        <div class="panel-body">
          <div class="col-md-12" style=" border-bottom: 1px solid lightgray; margin-bottom: 15px;">
            <p>Tên tài khoản
              <code>{{donhang.TenTaiKhoan|| 'empty'}}</code>
            </p>
          </div>
          <div class="col-md-6">
            <p>Người gửi
              <code>{{donhang.NguoiGui|| 'empty'}}</code>
            </p>
          </div>
          <div class="col-md-6">
            <p>Người nhận
              <code>{{donhang.NguoiNhan|| 'empty'}}</code>
            </p>
          </div>
          <div class="col-md-6">
            <p>Địa chỉ gửi
              <code>{{donhang.DiaChiGui|| 'empty'}}</code>
            </p>
          </div>
          <div class="col-md-6">
            <p>Địa chỉ nhận
              <code>{{donhang.DiaChiNhan|| 'empty'}}</code>
            </p>
          </div>
          <div class="col-md-6">
            <p>Số điên thoại người gửi
              <code>{{donhang.SoDienThoaiNguoiGui|| 'empty'}}</code>
            </p>
          </div>
          <div class="col-md-6">
            <p>Số điện thoại người nhận
              <code>{{donhang.SoDienThoaiNguoiNhan|| 'empty'}}</code>
            </p>
          </div>

        </div>
      </div>
    </div>
    <div class="panel-info col-md-4" ng-repeat="kien_hang in kienhang" >
      <div class="panel panel-info bootstrap-panel">
        <div class="panel-heading">{{kien_hang.NoiDung}}</div>
        <div class="panel-body">
          <div>
              <code>{{kien_hang.ChieuDai}}</code> 
          </div>
          <div>
              <code>{{kien_hang.ChieuRong}}</code> 
          </div>
          <div>
              <code>{{kien_hang.SoLuong}}</code> 
          </div>
          <div>
              <code>{{kien_hang.TinhTrang}}</code> 
          </div>
          <div>
              <code>{{kien_hang.TrongLuong}}</code> 
          </div>
          <div>
              <code>{{kien_hang.GhiChu}}</code> 
          </div>
          <div>
              <code>{{kien_hang.MoTa}}</code> 
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12" style="text-align: center">
      <a class="btn btn-warning btn-lg" ng-if="donhang.TinhTrang == 0" ng-click="xac_nhan_donhang(donhang.MaDonHang)">Xác nhận</a>
    </div>
  </div>
</div>