<div class="row">
  <div ba-panel ba-panel-title="" ng-init="search()" ba-panel-class="with-scroll">
    <div class="form-inline">
      <div class="form-group">
        <input type="text" ng-model="params.user_name" class="form-control" placeholder="Tên tài khoản...">
      </div>
      <div class="form-group">
        <label for="id_select"> Tình trạng </label>
        <select ng-model="params.TinhTrang">
          <option value="">Tất cả</option>
          <option value="-1">Hủy</option>
          <option value="-2">Không thể lấy hàng</option>
          <option value="7">Chờ tiếp nhận</option>
          <option value="0">Chờ xác nhận</option>
          <option value="1">Đã tiếp nhận</option>
          <option value="2">Đang lấy hàng</option>
          <option value="3">Lấy thành công</option>
          <option value="4">Đang giao</option>
          <option value="4">Trong kho</option>
          <option value="6">Hoàn thành</option>
        </select>
      </div>
      <button type="" ng-click="search()" class="btn btn-primary mb-2">Tìm kiếm</button>
      <div class="add-button">
        <button class="btn btn-primary" ng-click="gotoAddDonHang()">Thêm mới</button>
      </div>
    </div>

    <table class="table table-bordered table-hover table-condensed text-center">
      <tfoot valign="bottom">
        <tr>
          <td colspan="12" style="text-align: center">
            <ul class="pagination">
              <li ng-repeat="i in arrayPage">
                <a ng-click="search(params.page = $index)" ng-model="params.page">{{$index+1}}</a>
              </li>
            </ul>
          </td>
        </tr>
      </tfoot>
      <thead>
        <tr>
          <td>STT</td>
          <td>Người gửi</td>
          <td>Địa chỉ gửi</td>
          <td>Số điện thoại gửi</td>
          <td>Người nhận</td>
          <td>Địa chỉ nhận</td>
          <td>Số điện thoại nhận</td>
          <td>Ghi chú</td>
          <td>Tình trạng</td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="donhang in listDonHang" class="editable-row">
          <td>
            {{$index+1 + params.page *params.size}}
          </td>
          <td>
            <span editable-text="donhang.NguoiGui" e-name="NguoiGui" e-form="rowform" e-required>
              {{ donhang.NguoiGui || 'empty' }}
            </span>
          </td>
          <td>
            <span editable-text="donhang.DiaChiGui" e-name="DiaChiGui" e-form="rowform" e-required>
              {{ donhang.DiaChiGui || 'empty' }}
            </span>
          </td>
          <td>
            <span editable-text="donhang.SoDienThoaiNguoiGui" e-name="SoDienThoaiNguoiGui" e-form="rowform" e-required>
              {{ donhang.SoDienThoaiNguoiGui || 'empty' }}
            </span>
          </td>
          <td>
            <span editable-text="donhang.NguoiNhan" e-name="NguoiNhan" e-form="rowform" e-required>
              {{ donhang.NguoiNhan || 'empty' }}
            </span>
          </td>
          <td>
            <span editable-text="donhang.DiaChiNhan" e-name="DiaChiNhan" e-form="rowform" e-required>
              {{ donhang.DiaChiNhan || 'empty' }}
            </span>
          </td>
          <td>
            <span editable-text="donhang.SoDienThoaiNguoiNhan" e-name="SoDienThoaiNguoiNhan" e-form="rowform" e-required>
              {{ donhang.SoDienThoaiNguoiNhan || 'empty' }}
            </span>
          </td>
          <td>
            <span editable-text="donhang.GhiChu" e-name="GhiChu" e-form="rowform" e-required>
              {{ donhang.GhiChu || 'empty' }}
            </span>
          </td>
          <td>
            <!-- <span style="padding: 5px;
            background-color: darkgrey;
            border-radius: 4px;" editable-text="donhang.TinhTrang" e-name="TinhTrang" e-form="rowform"
              e-required>
              Chờ xác nhận
            </span> -->
            {{donhang.TinhTrang}}
          </td>
          <td class="action-button">
            <div class="buttons">
              <a class="btn btn-primary editable-table-button btn-xs" ng-click="" href="#/donhang/details/{{donhang.MaDonHang}}">Chi tiết</a>
              <a class="btn btn-warning btn-xs" ng-if="donhang.TinhTrang == 0" ng-click="xac_nhan_donhang(donhang.MaDonHang)">Xác nhận</a>
              <button class="btn btn-danger editable-table-button btn-xs" ng-if="donhang.TinhTrang == 0" ng-click="huy_donhang(donhang.MaDonHang)">Huỷ</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>