<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="GiaoHangGiaReDbContext" connectionString="workstation id=GiaoHangGiaRe.mssql.somee.com;packet size=4096;user id=ngocminh2306_SQLLogin_1;pwd=cbqhxjal4c;data source=GiaoHangGiaRe.mssql.somee.com;persist security info=False;initial catalog=GiaoHangGiaRe" providerName="System.Data.SqlClient" />-->
    <!--<add name="GiaoHangGiaReDbContext" connectionString="data source=NGOCMINH2306-PC\SQLEXPRESS;initial catalog=GiaoHangGiaRe;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>-->
    <add name="GiaoHangGiaReDbContext" connectionString="data source=NGOCMINH2306-PC\SQLEXPRESS;initial catalog=GiaoHangGiaRe;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>