<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="GiaoHangGiaReDbContext" connectionString="data source=webhook.database.windows.net;initial catalog=GiaoHangGiaRe;integrated security=False;User ID=quantri;Password=Minh@123;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>