<div ba-panel ba-panel-title="Thêm nhóm quyền (Role)" ba-panel-class="with-scroll">
    <!-- {{model}}
{{$state.current.name}} -->
    <div class="col-md-3"></div>
    <form class="col-md-6">

        <div class="form-group">
            <label for="Id">Id</label>
            <input type="text" ng-model="model.Id" class="form-control" id="Id" placeholder="Id">
        </div>

        <div class="form-group">
            <label for="Name">Name</label>
            <input type="text" ng-model="model.Name" class="form-control" id="Name" placeholder="Name">
        </div>

    </form>

    <div class="col-md-3"></div>
    <div class="col-md-12 text-center">
        <button progress-button="progressFunction()" ng-click="addRole(model)" pb-style="lateral-lines" class="btn btn-info">Xác nhận </button>
    </div>
</div>