<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Thông tin tài khoản</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="outer-content">
  <div text-center *ngIf="user">
    <ion-row>
      <ion-col>
        <img *ngIf="!base64Image" (click)="editAvatar()" src="http://www.gravatar.com/avatar?d=mm&s=140" alt="avatar">
        <img *ngIf="base64Image" (click)="editAvatar()" src="data:image/png;base64,{{base64Image}}">
      </ion-col>
    </ion-row>

    <h2>{{user?.HoTen}}</h2>
    <p>Số điện thoại: {{user?.PhoneNumber}}</p>
    <p>Địa chỉ mail: {{user?.Email}}</p>
    <!-- <p>Ngày tham gia: {{user?.created_at | date: 'dd/mm/yyyy'}}</p> -->
    <ion-list inset>
      <button ion-item (click)="editAvatar()">Cập nhật ảnh đại diện</button>
      <button ion-item (click)="changeUsername()">Đổi họ tên</button>
      <button ion-item (click)="changePassword()">Đổi mật khẩu</button>
      <button ion-item (click)="support()">Hỗ trợ</button>
      <button ion-item (click)="logout()">Đăng xuất</button>
    </ion-list>
  </div>
</ion-content>
