@import 'common';
// injector
// endinjector
.add-button{
    float: right;
    margin-bottom: 10px;
}
.text-center{
    text-align: center;
}
.action-button{
    text-align:  center;
}

//custom boostrap
.pagination{
    padding-bottom: 15px;
    padding-top: 10px;
}
//serach box
.search-box{
    float: left;
}

.dashboard{
    width: 31.6%;
    line-height: 150px;
    background: rgba(213, 214, 214, 0.527);
    text-align: center;
    margin: 5px;
    vertical-align: middle;
    font-size: 20px;
}
.dashboard_nhanvien{
    line-height: 150px;
    background: rgba(213, 214, 214, 0.527);
    vertical-align: middle;
    text-align: center;
    width: 93%;
    margin: 15px;
}
