<div class="row">
    <div ba-panel ba-panel-title="" ba-panel-class="with-scroll">
      <div class="form-inline">
        <div class="form-group">
          <input type="text" ng-model="filter.user_name" class="form-control" placeholder="Tên tài khoản...">
        </div>
        <button type="" ng-click="search()" class="btn btn-primary mb-2">Tìm kiếm</button>
        <div class="add-button">
          <button class="btn btn-primary" ng-click="gotoAddDonHang()">Thêm mới</button>
        </div>
      </div>
  
      <table class="table table-bordered table-hover table-condensed text-center">
        <tfoot valign="bottom">
          <tr>
            <td colspan="12">
              <ul class="pagination">
                <li ng-repeat="i in tablePage.arrayPage">
                  <a ng-click="gotoPage($index)">{{$index+1}}</a>
                </li>
              </ul>
            </td>
          </tr>
        </tfoot>
        <thead>
          <tr>
            <td>STT</td>
            <td>Người gửi</td>
            <td>Địa chỉ gửi</td>
            <td>Số điện thoại gửi</td>
            <td>Người nhận</td>
            <td>Địa chỉ nhận</td>
            <td>Số điện thoại nhận</td>
            <td>Ghi chú</td>
            <td>Tình trạng</td>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="donhang in listDonHang" class="editable-row">
            <td>
              {{$index+1}}
            </td>
            <td>
              <span editable-text="donhang.NguoiGui" e-name="NguoiGui" e-form="rowform" e-required>
                {{ donhang.NguoiGui || 'empty' }}
              </span>
            </td>
            <td>
              <span editable-text="donhang.DiaChiGui" e-name="DiaChiGui" e-form="rowform" e-required>
                {{ donhang.DiaChiGui || 'empty' }}
              </span>
            </td>
            <td>
              <span editable-text="donhang.SoDienThoaiNguoiGui" e-name="SoDienThoaiNguoiGui" e-form="rowform" e-required>
                {{ donhang.SoDienThoaiNguoiGui || 'empty' }}
              </span>
            </td>
            <td>
              <span editable-text="donhang.NguoiNhan" e-name="NguoiNhan" e-form="rowform" e-required>
                {{ donhang.NguoiNhan || 'empty' }}
              </span>
            </td>
            <td>
              <span editable-text="donhang.DiaChiNhan" e-name="DiaChiNhan" e-form="rowform" e-required>
                {{ donhang.DiaChiNhan || 'empty' }}
              </span>
            </td>
            <td>
              <span editable-text="donhang.SoDienThoaiNguoiNhan" e-name="SoDienThoaiNguoiNhan" e-form="rowform" e-required>
                {{ donhang.SoDienThoaiNguoiNhan || 'empty' }}
              </span>
            </td>
            <td>
              <span editable-text="donhang.GhiChu" e-name="GhiChu" e-form="rowform" e-required>
                {{ donhang.GhiChu || 'empty' }}
              </span>
            </td>
            <td>
              <span editable-text="donhang.TinhTrang" e-name="TinhTrang" e-form="rowform" e-required>
                {{ donhang.TinhTrang || 'empty' }}
              </span>
            </td>
            <td class="action-button">
              <div class="buttons">
                <!-- <a class="btn btn-primary editable-table-button btn-xs" ng-click="" href="#/donhang/edit/{{donhang.MaDonHang}}">Edit</a> -->
                <button ng-if="donhang?.TinhTrang >= 0" class="btn btn-danger editable-table-button btn-xs" ng-click="deleteUser(donhang.MaDonHang)">Hủy đơn hàng</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>