.banggia_page{
    margin-top: 100px;
    .banggia_table{
        table, th, td {
            border: 2px solid rgb(95, 160, 109);
        }
        text-align: center;
        background-color:rgba(247, 247, 247, 0.808);
        td{
            line-height: 10;
        }
        thead{
            text-align: center;
            color: rgb(95, 160, 109);
        }
        tbody{
            tr:hover{
                background-color: rgba(220, 220, 220, 0.39);
            }
        }
    }
}
