<style>
  td {
    max-width: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
</style>
<div class="row" ng-init="search()">
  <div class="col-md-12">
    <div ba-panel ba-panel-title="" ba-panel-class="with-scroll">
      <div class="form-inline">
        <div class="form-group">
          <input type="text" ng-model="params.HoTen" class="form-control" placeholder="Họ tên">
        </div>
        <div class="form-group">
          <input type="text" ng-model="params.SoDienThoai" class="form-control" placeholder="Số điện thoại">
        </div>
        <div class="form-group">
          <input type="text" ng-model="params.DiaChi" class="form-control" placeholder="Địa chỉ">
        </div>
        <div class="form-group">
          <input type="text" ng-model="params.Email" class="form-control" placeholder="Email">
        </div>
        <div class="form-group">
          <select name="" ng-model="params.LoaiKH" required>
              <option value="">Tất cả</option>
              <option ng-repeat="loai_kh in list_loaiKH" value="{{loai_kh.MaLoaiKH}}" ng-selected="checkSelected(loai_kh.MaLoaiKH)">{{loai_kh.TenLoaiKH}}</option>
          </select>
        </div>
        <div class="form-group">
          <input type="text" ng-model="params.TaiKhoan" class="form-control" placeholder="Tên tài khoản">
        </div>

        <button type="" ng-click="search()" class="btn btn-primary mb-2">Tìm kiếm</button>
        <div class="add-button">
          <button class="btn btn-primary" ng-click="gotoAddKhachHang()">Thêm mới</button>
        </div>
      </div>
      <table class="table table-bordered table-hover table-condensed">
        <tfoot valign="bottom">
          <tr>
            <td colspan="8" style="text-align: center">
              <ul class="pagination">
                <li ng-repeat="i in arrayPage">
                  <a ng-click="search(params.page = $index)" ng-model="params.page">{{$index+1}}</a>
                </li>
              </ul>
            </td>
          </tr>
        </tfoot>
        <tr>
          <td>Họ tên</td>
          <td>Số điện thoại</td>
          <td>Email</td>
          <td>Địa chỉ</td>
          <td>Loại khách hàng</td>
          <td>Tên tài khoản</td>
          <td>Thao tác</td>
        </tr>
        <tr ng-repeat="khachhang in resdata" class="editable-row">
          <td>
            <span editable-text="khachhang.TenKhachHang" e-name="TenKhachHang" e-form="rowform" e-required>
              {{ khachhang.TenKhachHang || 'empty' }}
            </span>
          </td>
          <td>
            <span editable-text="khachhang.SoDienThoai" e-name="SoDienThoai" e-form="rowform" e-required>
              {{ khachhang.SoDienThoai || 'empty' }}
            </span>
          </td>
          <td>
            <span editable-text="khachhang.Email" e-name="Email" e-form="rowform" e-required>
              {{ khachhang.Email || 'empty' }}
            </span>
          </td>
          <td>
            <span editable-text="khachhang.DiaChi" e-name="DiaChi" e-form="rowform" e-required>
              {{ khachhang.DiaChi || 'empty' }}
            </span>
          </td>
          <td>
            <span editable-text="khachhang.LoaiKH" e-name="LoaiKH" e-form="rowform" e-required>
              {{ khachhang.LoaiKH || 'empty' }}
            </span>
          </td>
          <td>
            <span editable-text="khachhang.TenTaiKhoan" e-name="TenTaiKhoan" e-form="rowform" e-required>
              {{ khachhang.TenTaiKhoan || 'empty' }}
            </span>
          </td>
          <td style="width: 280px; text-align: center">
            <div class="buttons" ng-show="!rowform.$visible">
              <a class="btn btn-primary editable-table-button btn-xs" ng-click="" href="#/khachhang/edit/{{khachhang.MaKhachHang}}">Edit</a>
              <button class="btn btn-danger editable-table-button btn-xs" ng-click="lockKhachHang(khachhang.MaKhachHang)">Khoá</button>
              <button class="btn btn-primary editable-table-button btn-xs" ng-click="gotoLishDonHang($index)">Đơn hàng</button>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>