<div class="minh-form" ba-panel ba-panel-title="Chỉnh sửa" ba-panel-class="with-scroll" ng-init="getbyid()">
    <div class="col-md-3"></div>
    <form class="col-md-6">
        <div class="form-group">
            <label for="TenTaiKhoan">User name</label>
            <input type="text" ng-model="model.TenTaiKhoan" class="form-control" id="TenTaiKhoan" placeholder="Tên tài khoản" disabled>
        </div>
        <div class="form-group">
            <label for="HoTen">Họ tên</label>
            <input type="text" ng-model="model.HoTen" class="form-control" id="HoTen" placeholder="Họ tên">
        </div>
        <div class="form-group">
            <label for="Email">Email</label>
            <input type="email" ng-model="model.Email" class="form-control form-control-rounded" id="Email" placeholder="abc@vidu.com"
                value="model.Email" disabled>
        </div>
        <div class="form-group">
            <label for="DiaChi">Nhóm phân quyền</label>
            <select name="singleSelect" ng-model="model.Roles">
                <option ng-repeat="role in roleSelect" value="{{role.Id}}" selected>{{role.Name}}</option>
            </select><br>
        </div>
        <div class="form-group">
            <label for="PhoneNumber">Số điện thoại</label>
            <input type="text" ng-model="model.PhoneNumber" class="form-control" id="PhoneNumber" placeholder="Số điện thoại">
        </div>
        <div class="form-group">
            <label for="DiaChi">Địa chỉ</label>
            <textarea placeholder="Địa chỉ" ng-model="model.DiaChi" class="form-control" id="DiaChi"></textarea>
        </div>
        <div class="submit-button">
            <button progress-button="progressFunction()" ng-click="editUser(model)" pb-style="lateral-lines" class="btn btn-info success-button">Cập nhật </button>
        </div>
    </form>
    <div class="col-md-3"></div>
</div>