
<div class="card">
  <img src="img_avatar.png" alt="Avatar" style="width:100%">
  <div class="container">
    <h4>
      Thông tin cá nhân
    </h4>
    <div class="data">
      Tên tài khoản: {{userProfile.TenTaiKhoan}}
    </div>
    <div class="data">
      Địa chỉ: {{userProfile.DiaChi}}
    </div>
    <div class="data">
      Họ tên: {{userProfile.HoTen}}
    </div>
    <div class="data">
      Email: {{userProfile.Email}}
    </div>
    <div class="data">
      Số điện thoại: {{userProfile.PhoneNumber}}
    </div>
  </div>
</div>