<div class="register-page">
  <form class="form-signin" [formGroup]="registerForm">
    <h2 class="form-signin-heading">Đăng ký</h2>
    <label>Tên tài khoản</label>
    <input type="text" formControlName="TenTaiKhoan" class="form-control" name="TenTaiKhoan" placeholder="Tên tài khoản" autofocus />
    <label for="filePicker">Chọn ảnh đại diện:</label>
    <input type="file" class="form-control" name="Base64" (change)="handleFileSelect($event)"/>
    <img id="blah" src="{{base64textString}}" width="180" height="180" style="border-radius: 50%;" /> <br>
    <label>Họ và tên</label>
    <input type="text" formControlName="HoTen" class="form-control" name="HoTen" placeholder="Họ và tên"  />
    <label>Địa chỉ</label>
    <input type="text" formControlName="DiaChi" class="form-control" name="DiaChi" placeholder="Địa chỉ"  />
    <label>Số điện thoại</label>
    <input type="text" formControlName="SoDienThoai" class="form-control" name="SoDienThoai" placeholder="Số điện thoại" />
    <label>Email</label>
    <input type="text" formControlName="Email" class="form-control" placeholder="Email" />
    <label>Mật khẩu</label>
    <input type="password" formControlName="Password" class="form-control" placeholder="Mật khẩu" />
    <label>Xác nhận mật khẩu</label>
    <input type="password" formControlName="ConfirmPassword" class="form-control" placeholder="Xác nhận mật khẩu"  />
    <span class="err_message">{{login_err}}</span>
    <button class="btn btn-lg btn-primary btn-block" (click)="submitData()" type="submit">Đăng ký</button>
  </form>
</div>