<style>
    td {
      max-width: 60px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
  }
  </style>
<div class="row" ng-init="init()">
  <div class="col-md-12">
    <div ba-panel ba-panel-title="" ba-panel-class="with-scroll">
      
      <div class="add-row-editable-table">
        <button class="btn btn-primary" ng-click="gotoAddLoaiKH()">Thêm mới</button>
      </div>
          <table class="table table-bordered table-hover table-condensed">
            <tr>                         
              <td>Mã đơn hàng</td>
              <td>Thành tiền</td>      
              <td>Thao tác</td>
            </tr>
            <tr ng-repeat="loaikh in resdata" class="editable-row">
            
              <td>
                  <span editable-text="loaikh.TenLoaiKH" e-name="TenLoaiKH" e-form="rowform" e-required>
                    {{ loaikh.TenLoaiKH || 'empty' }}
                  </span>
              </td>
              <td>
                <span editable-text="loaikh.MoTa" e-name="MoTa" e-form="rowform" e-required>
                  {{ loaikh.MoTa || 'empty' }}
                </span>
              </td>                          
                
              <td>
                <div class="buttons" ng-show="!rowform.$visible">
                  <a class="btn btn-primary editable-table-button btn-xs" ng-click="" href="#/loaikh/edit/{{loaikh.MaLoaiKH}}">Edit</a >
                  <button class="btn btn-danger editable-table-button btn-xs" ng-click="deleteLoaiKH(loaikh.MaLoaiKH)">Delete</button>
                  
                </div> 
              </td>
            </tr>
          </table>
    </div>
  </div>
</div>