<div class="login-page">
  <form class="form-signin">       
    <h2 class="form-signin-heading">Đăng nhập</h2>
    <input type="text" [(ngModel)]="model.username" class="form-control" name="username" placeholder="Tài khoản" required="" autofocus="" />
    <input type="password" [(ngModel)]="model.password" class="form-control" name="password" placeholder="Mật khẩu" required=""/>      
    <label class="checkbox">
      <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
    </label>
    <button class="btn btn-lg btn-primary btn-block" (click)="submitData()" type="submit">Đăng nhập</button>   
  </form>
</div>