<style>
    td {
      max-width: 60px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
  }
  </style>
  <div class="row" ng-init="init()">
          <div class="col-md-12">
            <div ba-panel ba-panel-title="" ba-panel-class="with-scroll">
              
                  <div class="add-row-editable-table">
                          <button class="btn btn-primary" ng-click="gotoAddHoaDon()">Thêm mới</button>
                        </div>
                        <table class="table table-bordered table-hover table-condensed">
                          <tr>                         
                            <td>Mã đơn hàng</td>
                            <td>Thành tiền</td>   
                            <td>Mã khách hàng</td>                        
                            <td>Mã nhân viên</td>
                            <td>Ghi chú</td>                      
                            <td>Thao tác</td>
                          </tr>
                          <tr ng-repeat="hoadon in resdata" class="editable-row">
                         
                            <td>
                                <span editable-text="hoadon.MaDonHang" e-name="MaDonHang" e-form="rowform" e-required>
                                  {{ hoadon.MaDonHang || 'empty' }}
                                </span>
                            </td>
                            <td>
                              <span editable-text="hoadon.ThanhTien" e-name="ThanhTien" e-form="rowform" e-required>
                                {{ hoadon.ThanhTien || 'empty' }}
                              </span>
                            </td>
                            <td>
                                <span editable-text="hoadon.MaKhachHang" e-name="MaKhachHang" e-form="rowform" e-required>
                                  {{ hoadon.MaKhachHang || 'empty' }}
                                </span>
                              </td>
                              <td>
                                <span editable-text="hoadon.MaNhanVien" e-name="MaNhanVien" e-form="rowform" e-required>
                                  {{ hoadon.MaNhanVien || 'empty' }}
                                </span>
                              </td>
                              <td>
                                <span editable-text="hoadon.GhiChu" e-name="GhiChu" e-form="rowform" e-required>
                                  {{ hoadon.GhiChu || 'empty' }}
                                </span>
                              </td>
                                                                    
                              
                            <td>
                              <div class="buttons" ng-show="!rowform.$visible">
                                <a class="btn btn-primary editable-table-button btn-xs" ng-click="" href="#/no/edit/{{no.Ma}}">Edit</a >
                                <button class="btn btn-danger editable-table-button btn-xs" ng-click="deleteNo(no.Ma)">Delete</button>
                                
                              </div> 
                            </td>
                          </tr>
                        </table>
                        
  
            </div>
          </div>
        </div>