<div class="row">
  <div ba-panel ba-panel-title="" ba-panel-class="with-scroll" ng-init="search()">
    <div class="form-inline">
      <div class="form-group">
        <input type="text" ng-model="filter.user_name" class="form-control" placeholder="Tên tài khoản...">
      </div>
      <div class="form-group">
        <input type="text" ng-model="filter.id" class="form-control" placeholder="id">
      </div>
      <div class="form-group">
        <input type="text" ng-model="filter.name" class="form-control" placeholder="Họ tên...">
      </div>
      <button type="" ng-click="search()" class="btn btn-primary mb-2">Tìm kiếm</button>
      <div class="add-button">
        <button class="btn btn-primary" ng-click="gotoAddUser()">Thêm mới</button>
      </div>
    </div>

    <table class="table table-bordered table-hover table-condensed text-center">
      <tfoot valign="bottom">
        <tr>
          <td colspan="8">
            <ul class="pagination">
              <li ng-repeat="i in arrayPage">
                <a ng-click="search(params.page = $index)" ng-model="params.page">{{$index+1}}</a>
              </li>
            </ul>
          </td>
        </tr>
      </tfoot>
      <thead>
        <tr>
          <td>STT</td>
          <td>User name</td>
          <td>Họ tên</td>
          <td>Số điện thoại</td>
          <td>Địa chỉ</td>
          <td>Email</td>
          <td>Image</td>
          <td>Thao tác</td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="user in listUser" class="editable-row">
          <td>
            {{$index+1}}
          </td>
          <td>
            <span editable-text="user.UserName" e-name="UserName" e-form="rowform" e-required>
              {{ user.UserName || 'empty' }}
            </span>
          </td>
          <td>
            <span editable-text="user.HoTen" e-name="HoTen" e-form="rowform" e-required>
              {{ user.HoTen || 'empty' }}
            </span>
          </td>
          <td>
            <span editable-text="user.PhoneNumber" e-name="PhoneNumber" e-form="rowform" e-required>
              {{ user.PhoneNumber || 'empty' }}
            </span>
          </td>
          <td>
            <span editable-text="user.DiaChi" e-name="DiaChi" e-form="rowform" e-required>
              {{ user.DiaChi || 'empty' }}
            </span>
          </td>
          <td>
            <span editable-text="user.Email" e-name="Email" e-form="rowform" e-required>
              {{ user.Email || 'empty' }}
            </span>
          </td>
          <td>
            <span editable-text="user.ImageLink" e-name="ImageLink" e-form="rowform" e-required>
              <img src="{{user.ImageLink}}" alt="" width="50px" height="50px">
            </span>
          </td>
          <td class="action-button">
            <div class="buttons">
              <a class="btn btn-primary editable-table-button btn-xs" ng-click="" href="#/usermanager/edit/{{user.Id}}">Edit</a>
              <!-- <button class="btn btn-danger editable-table-button btn-xs" ng-click="deleteUser(user.Id)">Delete</button> -->
              <button class="btn btn-primary editable-table-button btn-xs" ng-click="editRolesUser(user)">Roles</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>