<style>
  td {
    max-width: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
</style>
<div class="row" ng-init="search()">
  <div class="col-md-12">
    <div ba-panel ba-panel-title="" ba-panel-class="with-scroll">
      <div class="form-inline">
        <div class="form-group">
          <input type="text" ng-model="params.TenTaiKhoan" class="form-control" placeholder="Tên tài khoản...">
        </div>
        <div class="form-group">
          <input type="text" ng-model="params.TenNhanVien" class="form-control" placeholder="Tên nhân viên">
        </div>
        <div class="form-group">
          <input type="text" ng-model="params.ChucVu" class="form-control" placeholder="Chức vụ">
        </div>
        <div class="form-group">
          <input type="text" ng-model="params.Email" class="form-control" placeholder="Email">
        </div>

        <button type="" ng-click="search()" class="btn btn-primary mb-2">Tìm kiếm</button>
        <div class="add-button">
          <button class="btn btn-primary" ng-click="gotoAddNhanVien()">Thêm mới</button>
        </div>
      </div>

      <table class="table table-bordered table-hover table-condensed">
        <tfoot valign="bottom">
          <tr>
            <td colspan="8" style="text-align: center">
              <ul class="pagination">
                <li ng-repeat="i in arrayPage">
                  <a ng-click="search(params.page = $index)" ng-model="params.page">{{$index+1}}</a>
                </li>
              </ul>
            </td>
          </tr>
        </tfoot>
        <tr>
          <td>Tên tài khoản</td>
          <td>Tên nhân viên</td>
          <td>Chức vụ</td>
          <td>Địa chỉ</td>
          <td>Số điện thoại</td>
          <td>Email</td>
          <td>Thao tác</td>
        </tr>
        <tr ng-repeat="nhanvien in resdata" class="editable-row">
          <td>
            <span editable-text="nhanvien.TenTaiKhoan" e-name="TenTaiKhoan" e-form="rowform" e-required>
              {{ nhanvien.TenTaiKhoan || 'empty' }}
            </span>
          </td>
          <td>
            <span editable-text="nhanvien.TenNhanVien" e-name="TenNhanVien" e-form="rowform" e-required>
              {{ nhanvien.TenNhanVien || 'empty' }}
            </span>
          </td>
          <td>
            <span editable-text="nhanvien.ChucVu" e-name="ChucVu" e-form="rowform" e-required>
              {{ nhanvien.ChucVu || 'empty' }}
            </span>
          </td>
          <td>
            <span editable-text="nhanvien.DiaChi" e-name="DiaChi" e-form="rowform" e-required>
              {{ nhanvien.DiaChi || 'empty' }}
            </span>
          </td>
          <td>
            <span editable-text="nhanvien.SoDienThoai" e-name="SoDienThoai" e-form="rowform" e-required>
              {{ nhanvien.SoDienThoai || 'empty' }}
            </span>
          </td>
          <td>
            <span editable-text="nhanvien.Email" e-name="Email" e-form="rowform" e-required>
              {{ nhanvien.Email || 'empty' }}
            </span>
          </td>
          <td>
            <div class="buttons" ng-show="!rowform.$visible">
              <a class="btn btn-primary editable-table-button btn-xs" ng-click="" href="#/nhanvien/edit/{{nhanvien.MaNhanVien}}">Edit</a>
              <button class="btn btn-danger editable-table-button btn-xs" ng-click="deleteNhanVien(nhanvien.MaNhanVien)">Delete</button>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>